* {
    margin: 0%;
    padding: 0%;
}

html {
    background: linear-gradient(90deg, rgba(89, 123, 217) 0%, #af4adf 100%);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    border: 2px solid white;
    border-radius: 15px;
    height: 1100px;
    width: 600px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
    font-size: 5ch;
}

.form-box-size {
    height: 70px;
    width: 470px;
    border: 3px solid lightgray;
    border-top-style: hidden;
    border-left: hidden;
    border-right: hidden;
    margin-left: 65px;
    margin-bottom: 3rem;
    font-size: 2ch;
    color: rgb(66, 65, 65);
}

.submit {
    height: 70px;
    width: 470px;
    margin-left: 65px;
    background: linear-gradient(90deg, rgb(45, 96, 236) 0%, #e700dc 100%);
    border-radius: 50px;
    color: white;
}

.message {
    width: 470px;
    border: 3px solid lightgray;
    border-top-style: hidden;
    border-left: hidden;
    border-right: hidden;
    margin-left: 65px;
    margin-bottom: 3rem;
    font-size: 2ch;
}

p {
    margin-left: 65px;
    color: rgb(49, 49, 49);
}

.placement {
    margin-left: 65px;
}

.select-box {
    width: 470px;
    height: 70px;
    margin-bottom: 3rem;
    border: 3px solid lightgray;
    border-top-style: hidden;
    border-left: hidden;
    border-right: hidden;
    font-size: 2ch;
    font-weight: 600;
    color: rgb(49, 49, 49);
}